<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
      @for (game of games; track game.nombre) {
        <tr [class.clearance]="game.clearance">
            <td><img width="100" class="img-thumbnail" [src]="game.img" [alt]="game.nombre"></td>
            <td>{{game.nombre}}</td>
            <td>{{game.genero}}</td>
            <td>{{game.precio | currency }}</td>
            @if (game.stock > 0) {
                <td>{{game.stock}}</td>
            } @else {
                <td><span class="badge bg-warning text-dark">SIN STOCK</span></td>
            }
            <td><button class="btn-primary btn-sm" (click)="downQuantity(game)">-</button>
                <input type="text" class="form-control form-control-sm text-center" [(ngModel)]="game.cantidad" (keydown)="ChangeQuantity($event, game)">
                <button class="btn-primary btn-sm" (click)="upQuantity(game)">+</button></td>
        </tr>
      } @empty {
        <tr>
            <td colspan="4">No hay juegos disponibles.</td>
        </tr>
      }
    </tbody>
</table>