<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
      @for (game of games; track game.nombre) {
        <tr [class.clearance]="game.clearance">
            <td><img [src]="game.img" [alt]="game.nombre"></td>
            <td>{{game.nombre}}</td>
            <td>{{game.genero}}</td>
            <td>{{game.precio | currency }}</td>
            @if (game.stock > 0) {
                <td>{{game.stock}}</td>
            } @else {
                <td><span class="badge bg-warning text-dark">SIN STOCK</span></td>
            }
        </tr>
      } @empty {
        <tr>
            <td colspan="4">No hay juegos disponibles.</td>
        </tr>
      }
    </tbody>
</table>